.StackItemInformation{
    background-color: rgba(217, 217, 217, 0.83);
    max-height: 0;
    min-height: 0;

    border-radius: 35px;
    margin: 13vmin 0 auto 0;

    opacity: 0;

    /*transition: max-height 2s ease, opacity 1s ease, min-height 3s ease, margin 2s ease;*/
    transition: min-height 2s ease, opacity 1s ease, max-height 3s ease, margin 2s ease;

    font-family: "Inter";
}

.StackItemInformation.active{

    max-height: fit-content;
    min-height: 50vmin;
    opacity: 1;

    margin: 0;

}

.Back{
    position:absolute;

    max-width: 60%;
    min-height: 50vmin;

    margin: 5% -25% auto auto;
    z-index: -1;
}


.TechName {
    font-size: 3vmin;
    text-align: center;
    padding-top: 1vmin;

    margin: 0;
}

.TechDescription {
    font-size: 2vmin;
    line-height: 3vmin;

    padding: 3vmin;
    margin: 0;
}

.StackItemInformation p{
    opacity: 1;
}