.MainCard {
    display: flex;
    margin: 10vh auto;
    max-height: 100%;
    max-width: 70%;
    align-items: center;
    background-color:rgba(28, 28, 28, 0.87);
    border-radius: 25px;
}

.ProfileCard{
    object-fit: cover;
    padding: 2vmin 5% 7vmin;

    width: 40%;
    position: relative;
}

